body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #124559;
}
header
{
    background: #AEC3B0;
    color: #01161E;
    padding: 1em;
    text-align: center;
    font-size: 1.15em;
}
nav
{
    background: #EFF6E0;
    padding: 0.5em;
    text-align: center;
    font-size: 1em;
    position: sticky;
    top: 0;
}
nav a
{
    color: #01161E;
    text-decoration:none;
    margin: 0 1.5em;
}
.Container
{
    background-color: #EFF6E0;
    width: 85%;
    margin: 1em auto;
    padding: 1em;
    border-radius: 1em;
}
h2
{
    text-align:center;
}
.wrapped
{
    min-height: 100px;
}
.MiniInfo
{
    border-left: 0.5em solid #124559;
    padding: 1em;
    margin: 0.5em 0;
}
img
{
    float: right;
}
footer
{
    background: #AEC3B0;
    color: #01161E;
    padding: 0.25em;
    text-align: center;
    font-size: 1.15em;

}
span
{
    font-weight:bold;
}
ol>li
{
    margin-top:0.5em;
    margin-bottom:0.5em;
}

